data/dev/30-3-1500.json filter=lfs diff=lfs merge=lfs -text
data/result/llama-31-8b-instruct/30-3-1500-output.json filter=lfs diff=lfs merge=lfs -text
data/dev/30-3-1200.json filter=lfs diff=lfs merge=lfs -text
data/dev/30-3-1000.json filter=lfs diff=lfs merge=lfs -text
data/dev/50-1-1000.json filter=lfs diff=lfs merge=lfs -text
data/dev/alpaca_form/30-3-1000.json filter=lfs diff=lfs merge=lfs -text
data/result/llama-31-8b-instruct-sft2/30-3-1000-output.json filter=lfs diff=lfs merge=lfs -text
data/result/llama-31-8b-instruct-sft11/10-3-1000-output.json filter=lfs diff=lfs merge=lfs -text
data/result/llama-31-8b-instruct-sft11/30-3-1000-output.json filter=lfs diff=lfs merge=lfs -text
data/result/llama-31-8b-instruct-sft11/50-1-1000-output.json filter=lfs diff=lfs merge=lfs -text
data/dev/alpaca_form/abstask_dpo2.json filter=lfs diff=lfs merge=lfs -text
data/dev/alpaca_form/10-30-3-2000.json filter=lfs diff=lfs merge=lfs -text
data/dev/alpaca_form/abstask-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/30-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/10-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/50-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/alpaca_form/abstask-t-dpo.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/30-3-1000.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask-t_dpo.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask_dpo.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask_feasible.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/alpaca_form/abstask-t_feasible.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/50-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/10-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/10-3-1000.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/30-1-1000-t.json filter=lfs diff=lfs merge=lfs -text
data/dev/train/50-1-1000.json filter=lfs diff=lfs merge=lfs -text
data/dev/test/10-3-1000-r.json filter=lfs diff=lfs merge=lfs -text
data/dev/test/30-3-1000-r.json filter=lfs diff=lfs merge=lfs -text
data/result/Llama-3.1-8B-Instruct/30-3-1000-r-output.json filter=lfs diff=lfs merge=lfs -text
